.cabecalho {
	 border-bottom: 2px solid #C52534;
}

.cabecalho .logo_img {
	padding-top: 0;
}

.logo_img img{
	  width: 62%;
}

.cabecalho .navbar-default {
  background-color: white;
  border-color: white;
  min-height: 72px;
  margin-bottom: 0;
}

.cabecalho .navbar-brand {
	height: 80px;
}

.cabecalho .nav > li {
	margin-top: 4%;
}

.cabecalho .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #C52534;
  	background-color: white;
}

.cabecalho .link_menu {
	margin-top: 1%;
}

.cabecalho .redes_sociais {
	margin-top: 3%;
	float: right;
}

.cabecalho .redes_sociais li img {
	width: 70%;
	margin: 0;
	display: inherit;
}

.cabecalho .redes_sociais li:first-child {
	text-align: right;
}

#slider .item img {
	width: 100%;
}

#sobre {
	color: #3F3F3F;
	text-align: center;
	padding: 4%;
}

#sobre .separador {}









/*Classes genéricas*/

.titulo_sessao {
	color: #CD1C22;
}

.subtitulo {
	color: #525252;
}

.titulo_noticia_item {
	color: #CD1C22;
}

.resumo_noticia_item {
	color: #ACB1B8;
}

.titulo_servico_item {
	color: #CD1C22;
}

.resumo_servico_item {
	color: #3F3F3F;
}

.btn-vermelho, .btn-vermelho:focus,
.btn-vermelho.focus, .btn-vermelho:hover {
	background: #CD1C22;
	background-color: #CD1C22;
	color: white;
	border-color: #CD1C22;
  	/*font-family: 'segoe';*/
  	box-shadow: 0px 3px 0px #CD1C22;
  	-webkit-box-shadow: 0px 3px 0px #CD1C22;
  	-moz-box-shadow: 0px 3px 0px #CD1C22;
}

.btn-preto, .btn-preto:focus,
.btn-preto.focus, .btn-preto:hover  {
	background: #333333;
	background-color: #333333;
	color: white;
	border-color: #333333;
  	/*font-family: 'segoe';*/
  	box-shadow: 0px 3px 0px #333333;
  	-webkit-box-shadow: 0px 3px 0px #333333;
  	-moz-box-shadow: 0px 3px 0px #333333;
}

.div_btn {
	
}